{% extends 'base.html' %}
{% block content %}

<div class="jumbotron">
    <img src="http://tischlerei-weissenbacher.at/img/responsive_web_design.png">
    <h1>Wow! This is fun!</h1>
    <p class="lead">Here is a little more text.</p>
    <a class="btn btn-large btn-success" href="contact">Contact us today to
        get started</a><br/><br/><br/>
    <a href="https://twitter.com/im_nickjohnson"
       class="twitter-follow-button" data-show-count="false"
       data-size="large">Follow @im_nickjohnson</a>
    <script>!function(d,s,id){var
        js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':
        'script', 'twitter-wjs');
    </script>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://twitter.com/intent/tweet?screen_name=im_nickjohnson"
       class="twitter-mention-button" data-size="large">Send us a Tweet to
        @im_nickjohnson</a>
    <script>!function(d,s,id){var
        js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':
        'script', 'twitter-wjs');
    </script>
</div>

<hr>

<div class="row-fluid marketing">
    <div class="span6">
        <h3>(1) One</h3>
        <p>Lorem ipsum dolor sit amet, of course.</p>
        <h3>(1) One</h3>
        <p>Lorem ipsum dolor sit amet, of course.</p>
        <h3>(1) One</h3>
        <p>Lorem ipsum dolor sit amet, of course.</p>
    </div>
    <div class="span6">
        <h3>(1) One</h3>
        <p>Lorem ipsum dolor sit amet, of course.</p>
        <h3>(1) One</h3>
        <p>Lorem ipsum dolor sit amet, of course.</p>
        <h3>(1) One</h3>
        <p>Lorem ipsum dolor sit amet, of course.</p>
    </div>

</div>

{% endblock %}